**/dust
doc/_build/
**/__pycache__
**/pytest_cache
**/*.egg
**/*.egg-info
**/.astropy
**/.cache
**/.config
**/.wget*
**/dist
**/eggs
**/build
**/.ipynb_checkpoints
**/bak/
**/_tests
**/_catalog
**/_plots
**/_results
**/tests/_*/
**/tests/TestSimpleLikelihood*

# Unit test / coverage reports
**/.coverage
